body{
    font-family: Poppins,sans-serif;
    transition: .2s all ease;
}
.theme{
    color: #0093ff!important;
}
.theme-bg{
    background-color: #deeffc;
}
.navbar-brand{
    font-family: 'Shrikhand', cursive;
    font-size: 35px;
}
.nav-link{
    font-size: 20px;
}
.nav-link:hover{
    font-size: 20px;
    color: #0093ff!important;
}